<html>
    <table width="100%" height="8%" bgcolor="#AED6F1">
        <tr><td align="center"><font color="#A93226" size="8"><b>DASHBOARD</b></font></td></tr>
    </table>

    <br><br>
    <center>
        <!-- <div onclick=""><font color="#F4D03F" size="6"><i><b>PRODUCT</b></i></font></div> -->
        <p><a href="/prodect/productinterface"><font color="#F4D83F" size="8">PRODUCT</font></a></p>
        <br><br><br><br>
        <p><a href="/employee/employeeinterface"><font color="#F4D83F" size="8">EMPLOYEE</font></a></p>
        <br><br><br><br>
        <p><a href="/school/marksheet"><font color="#F4D83F" size="8">MARK-SHEET</font></a></p>


    </center>
</html>