<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylesheets/my.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=shadow-multiple">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>Document</title>
</head>
<style> 
  input
  {
    width: 95%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
    
  }
  </style>

<body>
  
  <div class="w3-row w3-mobile">
    <div class="w3-col w3-green w3-center w3-mobile" style="width:60%;height: 750px">
      <div class="w3-card-4 w3-center Q pedding w3-pale-green w3-mobile w3-round-xlarge">
        <h1 class="w3-section w3-text-dark-grey w3-xxxlarge w3-mobile">Login to Your Account</h1>
        <p class="w3-section w3-large w3-mobile">Login using social networks</p>

        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/login" class="fa fa-twitter"></a>
        <a href="https://mail.google.com/mail/" class="fa fa-google"></a>
        <div class="w3-row w3-mobile M">
          <div class="w3-col w3-mobile" style="width:40%"><p><hr></p></div>
          <div class="w3-col w3-mobile" style="width:5%"><p>or</p></div>
          <div class="w3-col w3-mobile" style="width:40%"><p><hr></p></div>
        </div>
        <form action="/result">
          
          <input type="email" id="email" name="email" placeholder="E-mail">
          
          <input type="password" id="lname" name="password" placeholder="Password">
          <br>
          <%if(status){%>
            <span><font color="red"><%= com %></font></span><br>
          <%}%> 
          <button class="w3-green B w3-round-xlarge w3-padding-16 w3-hover-blue w3-mobile">sign in</button>


        </form>
        

      </div>

    </div>
    <div class="w3-col w3-blue w3-center w3-mobile" style="width:40%;height: 750px">
      <div class="w3-card-4 w3-center P pedding w3-pale-blue w3-round-xlarge w3-mobile">
        <h1 class="w3-section w3-text-dark-grey w3-xxxlarge w3-mobile">New here?</h1>
        <p class="w3-section w3-xlarge w3-mobile">sign up and discover a great amount of new opportunities!</p>
        <button class="w3-button w3-round-xlarge w3-white w3-section w3-mobile">Sign-Up</button>
      </div>
    </div>
    <!-- <div class="w3-col" style="width:20%"><p>20%</p></div> -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>